<!DOCTYPE html>
<body>
    <h1>
        To Do List
    </h1>
    <table>

   
    <thead>
        <th> id </th>
        <th> name </th>
        <th> description</th>
        <th > done </th>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            {%if row[3] == 0 %}
            <td >not done</td>
            {%else%}
            <td >done</td>
            {%endif%}

        </tr>
        {% endfor %}
    </tbody>
    </table>
    
</body>